<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddzb.coppermall.mapper.AreaStreetMapper">
  <resultMap id="BaseResultMap" type="com.ddzb.coppermall.model.AreaStreet">
    <id column="street_id" jdbcType="BIGINT" property="streetId" />
    <result column="street_name" jdbcType="VARCHAR" property="streetName" />
    <result column="counry_id" jdbcType="BIGINT" property="counryId" />
    <result column="street_code" jdbcType="BIGINT" property="streetCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    street_id, street_name, counry_id, street_code
  </sql>
  <select id="selectByExample" parameterType="com.ddzb.coppermall.model.AreaStreetExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from area_street
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from area_street
    where street_id = #{streetId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from area_street
    where street_id = #{streetId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ddzb.coppermall.model.AreaStreetExample">
    delete from area_street
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ddzb.coppermall.model.AreaStreet">
    insert into area_street (street_id, street_name, counry_id, 
      street_code)
    values (#{streetId,jdbcType=BIGINT}, #{streetName,jdbcType=VARCHAR}, #{counryId,jdbcType=BIGINT}, 
      #{streetCode,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ddzb.coppermall.model.AreaStreet">
    insert into area_street
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="streetId != null">
        street_id,
      </if>
      <if test="streetName != null">
        street_name,
      </if>
      <if test="counryId != null">
        counry_id,
      </if>
      <if test="streetCode != null">
        street_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="streetId != null">
        #{streetId,jdbcType=BIGINT},
      </if>
      <if test="streetName != null">
        #{streetName,jdbcType=VARCHAR},
      </if>
      <if test="counryId != null">
        #{counryId,jdbcType=BIGINT},
      </if>
      <if test="streetCode != null">
        #{streetCode,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ddzb.coppermall.model.AreaStreetExample" resultType="java.lang.Long">
    select count(*) from area_street
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update area_street
    <set>
      <if test="record.streetId != null">
        street_id = #{record.streetId,jdbcType=BIGINT},
      </if>
      <if test="record.streetName != null">
        street_name = #{record.streetName,jdbcType=VARCHAR},
      </if>
      <if test="record.counryId != null">
        counry_id = #{record.counryId,jdbcType=BIGINT},
      </if>
      <if test="record.streetCode != null">
        street_code = #{record.streetCode,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update area_street
    set street_id = #{record.streetId,jdbcType=BIGINT},
      street_name = #{record.streetName,jdbcType=VARCHAR},
      counry_id = #{record.counryId,jdbcType=BIGINT},
      street_code = #{record.streetCode,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ddzb.coppermall.model.AreaStreet">
    update area_street
    <set>
      <if test="streetName != null">
        street_name = #{streetName,jdbcType=VARCHAR},
      </if>
      <if test="counryId != null">
        counry_id = #{counryId,jdbcType=BIGINT},
      </if>
      <if test="streetCode != null">
        street_code = #{streetCode,jdbcType=BIGINT},
      </if>
    </set>
    where street_id = #{streetId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ddzb.coppermall.model.AreaStreet">
    update area_street
    set street_name = #{streetName,jdbcType=VARCHAR},
      counry_id = #{counryId,jdbcType=BIGINT},
      street_code = #{streetCode,jdbcType=BIGINT}
    where street_id = #{streetId,jdbcType=BIGINT}
  </update>
</mapper>